<ion-header>
  <ion-navbar color="light">
    <ion-title>BSM</ion-title>
    <ion-buttons *ngIf="message.status" end>
      <button ion-button icon-only (click)="presentActionSheet()">
          <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true" class="main-content" padding>
  
  <div class="login-box" *ngIf="!message.status">
    <ion-row>
      <ion-col>
        <ion-list class="login-list">
          <ion-item class="list-item">
            <ion-label class="list-label" floating>Tajna wiadomość</ion-label>
            <ion-input type="text" name="content" clearInput [(ngModel)]="message.content" required></ion-input>
          </ion-item>
          <ion-item class="list-item">
            <ion-label class="list-label" floating>Wprowadź hasło</ion-label>
            <ion-input type="password" name="password" clearInput [(ngModel)]="message.password" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="saveMess-col">
        <button ion-button color="secondary" full [disabled]="!message.content || !message.password" (click)="saveMessage()">Zapisz</button>
      </ion-col>
      <ion-col col-2 class="saveMess2-col">
        <button ion-button icon-only color="secondary" [disabled]="!message.content || !message.password" (click)="saveMessagePrint()">
          <ion-icon name="finger-print"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div class="login-box" *ngIf="message.status">
    <ion-row *ngIf="!showMessage">
      <ion-col>
        <ion-list class="login-list">
          <ion-item class="list-item">
              <ion-label class="list-label" floating>Wprowadź hasło</ion-label>
              <ion-input type="password" name="passwordCheck" clearInput [(ngModel)]="accessPassword" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!showMessage">
      <ion-col class="saveMess-col">
        <button ion-button color="secondary" full [disabled]="!accessPassword" (click)="checkPassword()">Pokaż wiadomość</button>
      </ion-col>
      <ion-col *ngIf="showFinger" col-2 class="saveMess2-col">
        <button ion-button icon-only color="secondary" [disabled]="!message.content || !message.password" (click)="checkPrint()">
          <ion-icon name="finger-print"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-card *ngIf="showMessage">
      <ion-card-header> Twoja wiadomość </ion-card-header>
      <ion-card-content>
        {{ savedMessage }}
      </ion-card-content>
    </ion-card> 
    
    <ion-row *ngIf="showMessage">
      <ion-col class="saveMess-col">
        <button ion-button color="secondary" full (click)="hideMess()">Ukryj wiadomość</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>